<div class="comment clearfix">
  <div class="body">
  <p class="comment_creator">
  Posted by: <%= comment.user.email %>
</p>
    <p class="comment_body">
      <%= comment.comment.html_safe %>
    </p>
  </div>
  <% if current_user == comment.user %>
  <div class="buttons">
    <%= link_to "Delete", [comment.post, comment], method: :delete%>
  </div>
  <% end %>
</div>