<div id="posts">
<div class="posts">
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
</div>
</div>

<div id ="sidebar">
  <div class = "blurb">
  <h2 class ="header">Welcome!</h2>
  <p><img width=200px src="https://i.ibb.co/R6Y9cQR/GBMB2.png"></p>
  <p>Girlboss MB is an inclusive community for and by the badass ladies of the tech industry. Whether
  you're looking for advice, a listening ear, or recommendations, we're here for you!</p>
  <p>If it's your first time visiting, introduce yourself so we can give you a warm #GBMB welcome. Happy chatting!</p>
  </div>
</div>
