<div id ="posts">
<% @posts.each do |post| %>
  <div class ="post">
    <h2 class ="title"><%= link_to post.title, post %> </h2>
    <p class ="date>">Posted by
    <%= post.user.email %></p>
    </div>
<% end %>
</div>